include _common/variables.pug
include _common/mixin.pug
html
	head
		block title
			title Заголовок из шаблона
		link(rel='stylesheet' href='css/main.css')
	body
		block mainContain
			.div Это mainContain
		script(src='js/main.js')
	

